# Python
backend/.venv/
__pycache__/
*.py[cod]

# Tajni podaci
.env
backend/.env

# Django
*.log
staticfiles/
media/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Operativni sustav
.DS_Store
Thumbs.db