# Python
backend/.venv/
_pycache_/
*.py[cod]

# Tajni podaci
.env
backend/.env

# Django
*.log
staticfiles/
media/

# VS Code
.vscode/

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Operativni sustav
.DS_Store
Thumbs.db